.input{
     display:flex;
    overflow: visible

    
}
.inputs{
  display:flex;
  align-items: center ;
  justify-content: space-between;
  padding:5px;

}
.inputs:hover{
  background-color:rgba(156, 155, 155, 0.972);
  border-radius: 10px;
}

  .dynamic { 
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  
  }
  .dynamic :hover {
    color: #777;
  }

  .dynamic svg{
    width: 30px;
    height: 30px;
    border: none;
    
  
  }
  .plus svg{
    
    width: 100%;
    height: 100%;
    border: none;

  }
  .align{
    display: flex;
    align-items: center;

  }
  .delete svg{
    width: 90%;
    height: 90%;
    border: none;
    margin-left: 1em;

  }
  
  .column{
    margin:10px;
    width:40%

  }
  .column select option{
    width: 100px;
    
    
  }
  .row{
    
    width:100%
    
  }
 .row span{
   left:5px;
 }
 .ant-form-item {
  margin-bottom: 0px !important;
}
