.layout{
    width:100%;
    height:100%;
}



.sitelayout{  
    padding-left:2%; 
    padding-right: 3%;
    padding-top: 1%;
    
}

.footer{
    text-align: center;
    position:relative;
    margin-top:0px;
}