html{
  width: 100% !important;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  

 
  background-color: #e6e9eb;}
body {
  margin: 0;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
}
svg{
  border:none !important;
}
a {
  text-decoration: none;
  color: black
}

